accelerate
diffusers
hydra-core
imageio
ninja
opencv-python-headless
plotly
rich
scipy
timm
torch
torch-ema
tqdm
transformers
wandb
trimesh==3.21.6
gradio
Flask-SQLAlchemy
scikit-learn
git+https://github.com/mattloper/chumpy